[push]
    default = current
[color]
    ui = true
[core]
    excludesfile = ~/.gitignore_global
    hooksPath = ~/.git_hooks
	pager = delta
[user]
	name = Paul Seymour
    email = pauls@getpicnic.com
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
	diffFilter = diff-so-fancy --patch
[delta]
    side-by-side = true
    line-numbers = true
    navigate = true
[url "git@github.com:"]
	insteadOf = https://github.com
[credential]
	username = define-paul
