ssh/.ssh/authorized_keys
ssh/.ssh/id_rsa
ssh/.ssh/id_rsa.pub
ssh/.ssh/known_hosts
vim/.vim/plugged
powerline/.config/powerline-shell/__pycache__/
ssh/.ssh/ssh_hosts
vim/.vim/.netrwhist
brew/Brewfile.lock.json
